pony
Click==7.0
Flask==1.1.1
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
Werkzeug==0.16.0
gunicorn==19.9.0
requests==2.22.0
flask-bootstrap
flask-nav
flask_wtf
sendgrid
flask-login
flask-table
pymysql
twilio